go 1.18

use ./01hello
use ./03userinput
use ./02variables
use ./04Conversion
use ./06mytime
use ./07pointer
use ./08Array
use ./09Slices
use ./10Maps
use ./11Struct
use ./12Ifelse
use ./13switchcase
use ./14loops
use ./15Break-Continue
use ./16Function
use ./17Method
use ./18defer
use ./19files
use ./20webrequest
use ./21urls
use ./22webreqverb
use ./23Json
use ./24modules
